@media (min-width:320px) and (max-width: 480px) {
    .contactSection {
        padding: 0;
        .wrapper {
            width: 95%;
            .contactContent {
                flex-direction: column;
                form {
                    width: 100%;
                }
                .contactHeader {
                    width: 100%;
                    flex-direction: column;
                }
            }
        }
    }

}

@media (min-width:481px)  and (max-width: 768px) {
    .contactSection {
        padding: 0;
        .wrapper {
            width: 95%;
            .contactContent {
                flex-direction: column;
                form {
                    width: 100%;
                }
                .contactHeader {
                    width: 100%;
                    flex-direction: column;
                }
            }
        }
    }

}

@media (min-width:769px) and (max-width:1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {
    
}