@media (min-width:320px) and (max-width: 480px) {
    footer {
        .footerContent {
            display: block;
            .footerAddress,
            .footerLinks {
                text-align: center;
            }
            
            .footerAddress {
                ul {
                    li {
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width:481px)  and (max-width: 768px) {
    footer {
        .footerMiddle {
            img {
                height: 2rem;
            }
        }
    }

}

@media (min-width:769px) and (max-width:1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {
    
}