@media (max-width: 700px) {

    .hamburger {
        // display: flex;
        position: fixed;
        left: 1rem;
        top: 1rem;
        // padding-top: 10px;
        // margin-left: 10px;
        // z-index: 10;
    }
}