@media (min-width:320px) and (max-width: 480px) {

}

@media (min-width:481px)  and (max-width: 768px) {
    nav {

        .navBar {
            height: 4rem;

            .logo {
                margin: 0 auto;
            }

            .navBarList {

                ul {

                    li {
                        display: none;
                    }
                }
            }

            .languageMenu {
                right: -1rem;
            }
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {
    nav {
        .navBar {
            .languageMenu {
                select {
                    font-size: 0.9rem;
                }
            }
            .logo {
                height: 2.2rem;
            }
            .navBarList {
                ul {
                    li {
                        div,
                        a {
                            font-size: 0.9rem;
                        }
                        
                    }
                }
            }
        }
    }
    
}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {
    
}

@media (max-width: 700px) {

    
}