@media (min-width:320px) and (max-width: 480px) {

    .productsAndServices {
        padding: 0;
        
        .product {
            min-width: none;
            max-width: none;
            width: 100%;
            .productsAndServicesContent {
                .productsAndServicesLeftAndRight {
                    .productsAndServicesRight {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }

    }
}

@media (min-width:481px)  and (max-width: 768px) {
    .productsAndServices {
        padding: 0;
        
        .product {
            min-width: none;
            max-width: none;
            width: 100%;
            .productsAndServicesContent {
                .productsAndServicesLeftAndRight {
                    .productsAndServicesRight {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }

    }

}

@media (min-width:769px) and (max-width:1024px) {
    .productsAndServices {
        padding: 0;
        
        .product {
            min-width: none;
            max-width: none;
            width: 100%;
            .productsAndServicesContent {
                .productsAndServicesLeftAndRight {
                    .productsAndServicesRight {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {
    
}