@use "./variables" as *;

.aboutSection {
    padding: 1rem 0;

    .aboutPageHeader {
        
        h1 {
            margin: 0 0 2rem 0;
            border-bottom: 1px solid black;
        }

        h2 {
            font-size: 1.5rem;
            margin: 0 0 1rem 0;
        }

        h3 {
            font-size: 1rem;
        }

        .aboutContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;

            .aboutImageContainer {
                display: flex;

                img {
                    height: 15em;
                    width: 15rem;
                    border-radius: .25rem;
                }
            }
            .aboutContent {
                display: flex;
                width: 50%;
                min-height: 300px;
                justify-content: center;
                flex-direction: column;

                p {
                    font-size: .75rem;
                }
            }
        }
    }

    .wrapper {
        background-color: rgba($fontSecondary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
    }

    .accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .25rem 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        cursor: pointer;

        &:hover,
        &:focus {
            
            h3 {
                color: $tertiary;
            }

            svg {
                fill: $tertiary;
            }
        }
        
        h3 {
            margin: 0;
            transition: .5s;
        }

        button{
            background-color: rgba($fontSecondary, $alpha: 0);
            border-radius: 50rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            svg {
                cursor: pointer;
                fill: black;
                height: 1rem;
                transition: .5s;
            }
        }
    }
    
    .accordionContent {
        display: none;
    }
    
    .accordionContent.active {
        display: block;
        
    }

    p {
        background-color: rgba($quaternary, $alpha: 0.5);
        padding: 1rem;
        border-radius: .25rem;
        font-size: .75rem;
    }
}