@use "./variables" as *;

.aboutSection {
    padding: 1rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .aboutPageHeader {

        h1 {
            margin: 0;
            color: $fontSecondary;
            border-bottom: 1px solid $fontSecondary;
        }

        h2 {
            font-size: 1.5rem;
            margin: 2rem 0 0 0;
            color: $fontSecondary;
        }

        h3 {
            font-size: 1rem;
            color: $fontSecondary;
        }

        .aboutContainer {
            display: flex;
            // justify-content: space-between;
            align-content: center;
            // margin: 1rem 0;

            .aboutImageContainer {
                display: flex;
                // justify-content: center;
                align-items: flex-start;
                width: 400px;
                max-width: 400px;

                img {
                    width: 100%;
                    // max-width: 400px;
                    border-radius: .25rem;
                    margin: 1rem 1rem 1rem 0;
                }
            }

            .aboutContent {
                display: flex;
                width: 600px;
                max-width: 600px;
                min-height: 300px;
                justify-content: center;
                flex-direction: column;

                p {
                    font-size: .75rem;
                }
            }
        }
    }

    .wrapper {
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
    }

    .accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .25rem 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        cursor: pointer;

        &:hover,
        &:focus {

            h3 {
                color: $fontSecondary;
                border-bottom: 2px solid $quinary;
            }

            svg {
                fill: $quinary;
            }
        }

        h3 {
            margin: 0;
            transition: .5s;
            border-bottom: 2px solid rgba($tertiary, $alpha: 0);
        }

        button {
            background-color: rgba($fontSecondary, $alpha: 0);
            border-radius: 50rem;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                cursor: pointer;
                fill: $fontSecondary;
                height: 1rem;
                transition: .5s;
            }
        }
    }

    .accordionContent {
        display: none;
        transition: all .5s;
    }

    .accordionContent.active {
        display: block;
        transition: all .5s;
    }

    p {
        background-color: rgba($fontSecondary, $alpha: 1);
        color: $fontPrimary;
        padding: 1rem;
        border-radius: .25rem;
        font-size: .75rem;
    }
}