html {
    font-size: 125%;
}

body {
    // background-image: url("/public/assets/old-drum-grey-smaller.jpg");
    // background-repeat: no-repeat;
    // background-size: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}