@use "./variables" as *;

html {
    font-size: 125%;
}

body {
    background-image: url("/public/assets/old-drum.jpg");
    // background-image: url("/public/assets/Lennox-Drum-Ltd.home.png");
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
}

h1 {
    font-size: 2.5rem;
    font-family: $roboto;
    font-weight: 700;
    color: $fontPrimary;
}

h2 {
    font-size: 2rem;
    font-family: $roboto;
    font-weight: 700;
    color: $fontPrimary;
}

h3 {
    font-size: 1.5rem;
    font-family: $roboto;
    font-weight: 700;
    color: $fontPrimary;
}

h4 {
    font-size: 1.25rem;
    font-family: $roboto;
    font-weight: 700;
    color: $fontPrimary;
}


p {
    font-size: 1rem;
    font-family: $serif;
    font-weight: 400;
    color: $fontPrimary;
}

a {
    font-size: 1rem;
    font-family: $serif;
    font-weight: 400;
    color: $fontPrimary;
}

li {
    font-size: 1rem;
    font-family: $serif;
    font-weight: 400;
    color: $fontPrimary;
}

div {
    font-size: 1rem;
    font-family: $serif;
    font-weight: 400;
    color: $fontPrimary;
}

button {
    font-size: 1rem;
    font-family: $serif;
    font-weight: 400;
    color: $fontPrimary;
    border: none;
    border-radius: .25rem;
    background-color: $secondary;
    color: $fontSecondary;
    padding: 0.5rem 1rem;
    transition: 0.3s;

    &:hover, &:focus {
        background-color: $tertiary;
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}