@use "./variables" as *;

.contactSection {
    background-color: rgba($fontSecondary, $alpha: .75);
    border-radius: 0.25rem;
    padding: 1.5rem;

    .contactContent {
        display: flex;
        justify-content: space-between;

        .contactHeader{
            display: flex;
            flex-direction: column;
            width: 32.5%;

            h2 {
                margin: 2rem 0 1rem 0;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 62.5%;

            input {
                margin: .5rem 0;
                padding: 0.25rem;
            }

            textarea {
                margin: .5rem 0;
                min-height: 5rem;
                width: 100%;
                padding: .25rem;
            }
        }
    }
}