@use "./variables" as *;

.drumsSection {
    padding: 1rem 0;

    .wrapper {
        background-color: rgba($fontSecondary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        
        h1 {
            margin: 0;
            border-bottom: 1px solid black;
        }

        h2 {
            margin: 0;
        }

        img {
            height: 5rem;
            width: 5rem;
            border-radius: .25rem;
        }

        p {
            margin: .5rem;
        }

        .drumsSectionHeader {
            display: flex;
            margin: .5rem 0;
            justify-content: space-between;
            align-items: center;
        }

        .drumsSectionContent {
            background-color: rgba($quaternary, $alpha: 0.5);
            border-radius: .25rem;
        }

        .drumSectionButtons {
            padding: 1rem 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            button {
                width: 47.5%;
                font-size: 0.75rem;
            }
        }
    }
}