
.policyModal {
    position: fixed;
    // display: flex;
    // flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);

    .policyModalContent {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        max-width: 60%;
        height: 70%;
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        // margin: 5rem auto;
        // padding: 1rem 0.5rem 0;
        border-radius: .25rem;
        max-width: 600px;
    
        .policyModalContentStyling {
            position: absolute;
            line-height: 1.5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // padding: 20px;
            // min-height: 80%;
            max-height: 80%;
            width: 100%;
            

            h3 {
                margin: 0;
                color:purple;
            }
        
            h4 {
                margin: 0;
            }
        
            ul {
                margin: 0 1rem;
                padding: 1rem;
                flex-direction: column;
                align-items: flex-start;
    
                li {
                    list-style-type: lower-roman;
                    text-align: left;
                    font-size: 0.75rem;
                    font-weight: 600;
    
                    p {
                        font-size: .75rem;
                    }
                }
            }
        }
        }
}