@use "./variables" as *;

.drumsSection {
    padding: 1rem 0;

    .wrapper {
        background-color: white;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        
        h1 {
            margin: 0 auto;
        }

        h2 {
            margin: 2rem 0 1rem 0;
        }

        p {
            margin: .5rem;
        }

        .drumSectionButtons {
            padding: 1rem 0 0 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
        }
    }
}