

.drumsSection {
    padding: 1rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .wrapper {
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        box-shadow: 5px 5px 10px black;
        
        h1 {
            margin: 0;
            color: $fontSecondary;
            border-bottom: 1px solid $fontSecondary;
        }

        h2 {
            color: $fontSecondary;
            margin: 2rem 0 0 0;
        }

        p {
            color: $fontPrimary;
            margin: 1rem;
            line-height: 1.5rem;
        }

        .drumsSectionHeader {
            display: flex;
            margin: .5rem 0;
            justify-content: space-between;
            align-items: center;
        }

        .drumsSectionContent {
            background-color: rgba($fontSecondary, $alpha: 1);
            border-radius: .25rem;
            display: flex;
            flex-direction: column;

            .drumsSectionTop {
                display: flex;
                flex-direction: row-reverse;

                .drumsSectionLeft {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .drumsSectionRight {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-height: 15rem;
                        width: 15rem;
                        border-radius: .25rem;
                        margin: 1rem;
                    }
                }
            }

            .drumsSectionBottom {

                p {
    
                    i {
                        font-size: 0.75rem;
                    }
                }
            }
        }

        .drumSectionButtons {
            padding: 1rem 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            
            button {
                width: 47.5%;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }
    }
}