footer {
  background-color: $secondary;
  opacity: 1;

  display: flex;
  flex-direction: column;

  padding: 1rem 0 0 0;

  .footerContent {
    display: flex;
    justify-content: space-between;

    .footerAddress {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 1rem;
        margin: 0 0 1rem 0;
        color: $fontPrimary;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          color: $fontPrimary;
          list-style: none;
          padding: 0 0 1rem 0;
          span {
            font-size: 0.8rem;
          }

          p {
            color: $fontPrimary;
            font-size: 0.75rem;
            margin: 0;
            padding: 0 0 0.25rem 0;
          }
        }
      }
    }

    .footerLinks {
      display: flex;
      flex-direction: column;
      text-align: end;

      h3 {
        color: $fontPrimary;
        font-size: 1rem;
        margin: 0 0 1rem 0;
      }

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 0;

        li {
          list-style: none;
          padding: 0 0 0.25rem 0;

          a {
            color: $fontPrimary;
            text-decoration: none;
            font-size: 0.75rem;
            transition: 0.5s;

            &:hover,
            &:focus {
              color: $quaternary;
            }
          }
        }
      }
    }
  }
  .footerMiddle {
    display: flex;

    align-items: center;
    flex-direction: column;
    img {
      height: 3rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      text-align: center;

      li {
        list-style: none;

        button {
          background-color: $fontSecondary;
          color: $fontPrimary;
          text-decoration: none;
          font-size: 0.75rem;
          cursor: pointer;
          &:hover,
          &:focus {
            color: $quaternary;
          }
        }
      }
    }
  }
}
