@use "./variables" as *;

footer {
    background-color: $secondary;
    
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0 0 0;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
        height: 4rem;
        align-self: center;
    }

    .footerContent {
        display: flex;
        justify-content: space-between;

        .footerAddress {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1rem;
                margin: 0 0 1rem 0;
                color: $fontSecondary;
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    color: $fontSecondary;
                    list-style: none;
                    padding: 0 0 1rem 0;

                    p {
                        color: $fontSecondary;
                        font-size: 0.75rem;
                        margin: 0;
                        padding: 0 0 .25rem 0;
                    }
                }
            }
        }

        .footerLinks {
            display: flex;
            flex-direction: column;

            h3 {
                color: $fontSecondary;
                font-size: 1rem;
                margin: 0 0 1rem 0;
            }

            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                margin: 0;

                li {
                    list-style: none;
                    padding: 0 0 .25rem 0;

                    a {
                        color: $fontSecondary;
                        text-decoration: none;
                        font-size: 0.75rem;
                        transition: .5s;

                        &:hover, &:focus {
                            color: black;
                        }
                    }
                }
            }
        }

    }
    .footerMiddle {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        align-content: center;

        ul {
            display: flex;
            flex-direction: row;
            padding: 0;

            li {
                list-style: none;

                button {
                    background-color: $secondary;
                    text-decoration: none;
                    font-size: 0.75rem;
                    cursor: pointer;
                }
            }
        }
    }
}