
.hamburger {
    display: none;
    align-items: center;
    margin-right: 1rem;

    .hamburger-icon {
        color: black;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .bm-overlay {
        display: none;
    }

    .bm-menu-wrap {
        background-color: #7f7f7f;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        
        .bm-menu {
            
            .bm-item-list {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .menu-item {
                    font-size: 3rem;
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .bm-cross-button {
            
            .bm-cross {
                background-color: black;
            }    
        }
    }
}