@use "./variables" as *;

.homePage {
    margin-top: 12.5rem;
    margin-bottom: 10rem;
    
    .homePageHeader {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        padding: 1rem;
        border-radius: 0.5rem;

        img {
            width: 25%;
            border-radius: .25rem;
            opacity: .75;
        }
    }
}