@use "./variables" as *;

.homePage {
    
    .homePageHeader {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        // background-color: $fontSecondary;
        padding: 1rem;
        border-radius: 0.5rem;

        img {
            width: 50%;
            border-radius: .25rem;
        }
    }
}