@use "./variables" as *;

.homePage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .homePageHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50vw;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $fontSecondary;
        opacity: .75;

        img {
            border-radius: .25rem;
            opacity: .85;
            max-width: 75%;
            max-height: 75%;
        }
    }
}