

.ibcsSection {
    padding: 1rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .wrapper {
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;

        h1 {
            margin: 0;
            color: $fontSecondary;
            border-bottom: 1px solid $fontSecondary;
        }

        h2 {
            color: $fontSecondary;
            margin: 2rem 0 0 0;
        }
        
        

        p {
            margin: 1rem;
            line-height: 1.5rem;
        }

        .ibcsSectionHeader {
            display: flex;
            margin: .5rem 0;
            justify-content: space-between;
            align-items: center;
        }

        .ibcsSectionContent {
            background-color: rgba($fontSecondary, $alpha: 1);
            border-radius: .25rem;
            display: flex;
            flex-direction: column;

            .ibcsSectionContentTop {
                display: flex;
            }

            .ibcsSectionContentBottom {
                display: flex;
                flex-direction: row-reverse;

                .ibcsSectionContentLeft {
                    display: flex;
                    flex-direction: column;
                }
    
                .ibcsSectionContentRight {
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    img {
                        width: 100%;
                        border-radius: .25rem;
                        margin: 1rem;
                        
                    }
                }
            }

        }
    }
}