@use "./variables" as *;

nav {
    position: fixed;
    background-color: $secondary;
    opacity: .75;
    left: 0;
    right: 0;
    

    .navBar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        position: relative;
    
        .logo {
            position: absolute;
            left: 3rem;
            height: 3rem;
            transform: translate(0%, 5%);
        }

        .navBarList {
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                
                li {
                    display: flex;
                    list-style: none;
                    padding-right: 10px;

                    div {
                        border-bottom: $secondary 2px solid;
                        cursor: pointer;
                        transition: 0.5s;
                        position: relative;
                        color: $tertiary;

                        &:hover,
                        &:focus {
                            color: $tertiary;
                            border-bottom: $quinary 2px solid;
                        }

                        .productsAndServicesDropdown {
                            position: absolute;
                            flex-direction: column;
                            top: 2rem;
                            padding: 0 3rem;
                            background-color: $quinary;
                            border-radius: .25rem;

                            li {
                                padding: .5rem 0;
                                background-color: $quinary;

                                a {
                                    color: $tertiary;
                                    border-bottom: 2px solid $quinary;
                                    transition: .5s;

                                    &:hover,
                                    &:focus {
                                        border-bottom: $tertiary 2px solid;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        border-bottom: $secondary 2px solid;
                        color: $tertiary;
                        transition: 0.5s;

                        &:hover,
                        &:focus {
                            color: $tertiary;
                            border-bottom: $quinary 2px solid;
                        }
                    }

                }
            }
        }

        .languageMenu {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translate(-50%, -50%);

            select {
                border: none;
                width: fit-content;
                border-radius: 0.25rem;
                font-family: $roboto;
                font-size: 0.75rem;
                color: $fontSecondary;
                background-color: rgba($color: $tertiary, $alpha: 1);
                margin: 0;

                option {
                    
                }
            }
        }
    }
}