

nav {
    position: fixed;
    background-color: $fontSecondary;
    opacity: .9;
    width: 100%;
    z-index: 10;

    .navBar {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    
        .logo {
            position: absolute;
            left: 3rem;
            height: 2.5rem;
            transform: translate(0%, 15%);
        }

        .navBarList {
            display: flex;
            justify-content: center;
            

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                
                
                li {
                    display: flex;
                    list-style: none;
                    padding-right: 10px;
                    color: orange;

                    div {
                        border-bottom: $secondary 2px solid;
                        cursor: pointer;
                        transition: 0.5s;
                        position: relative;
                        color: $fontPrimary;

                        &:hover,
                        &:focus {
                            border-bottom: $tertiary 2px solid;
                        }

                        .productsAndServicesDropdown {
                            position: absolute;
                            flex-direction: column;
                            top: 2rem;
                            padding: 0 3rem;
                            background-color: $tertiary;
                            border-radius: .25rem;

                            li {
                                padding: .5rem 0;
                                background-color: $tertiary;

                                a {
                                    color: $fontSecondary;
                                    border-bottom: 2px solid $tertiary;
                                    transition: .5s;

                                    &:hover,
                                    &:focus {
                                        border-bottom: $quaternary 2px solid;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        border-bottom: $secondary 2px solid;
                        color: $fontPrimary;
                        transition: 0.5s;

                        &:hover,
                        &:focus {
                            color: $fontPrimary;
                            border-bottom: $tertiary 2px solid;
                        }
                    }

                }
            }
        }

        .languageMenu {
           position: absolute;
           right: 0;
           padding: 0 4rem 0 0;
            
            select {
                border: none;
                
                // width: fit-content;
                border-radius: 0.25rem;
                font-family: $roboto;
                font-size: 0.75rem;
                color: $fontSecondary;
                background-color: rgba($color: $tertiary, $alpha: 1);
                margin: 0;
                padding: 0.2rem 0.4rem;
                cursor: pointer;
                
        
               
            }
        }
    }
}