@use "./variables" as *;

nav {
    background-color: rgba($color: #000000, $alpha: 0.5);

    .navBar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        position: relative;
    
        .navBarList {
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                
                li {
                    list-style: none;
                    padding-right: 10px;

                    a {
                        text-decoration: none;
                    }
                }

                .productsAndServicesDropdown {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    position: absolute;
                    background-color: grey;
                }
            }
        }
    }
}