

.preparingContainersModal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;

    .preparingContainersContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        max-width: 600px;
        min-width: 30%;
        height: 40%;
        max-height: 40%;
        margin: 5rem auto;
        padding: 1rem 0.5rem 0;
        border-radius: .25rem;
        position: relative;
        

        h3 {
            margin: 0 0 1rem 0;
        }

        h4 {
            font-size: 1rem;
            margin: 0;
        }

        ul {
            margin: 0 1rem;
            padding: 0 0 1rem 0 ;
            flex-direction: column;
            align-items: flex-start;

            li {
                list-style-type: lower-roman;
                text-align: left;
                font-size: 0.75rem;
                font-weight: 600;

                p {
                    font-size: .75rem;
                    margin: 0.25rem 0;
                }
            }
        }
    }
}