@use "./variables" as *;

.productsAndServices {
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

    h2 {
        align-self: center;
        text-align: center;
        color: $fontSecondary;
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        padding: .5rem;
        min-width: 60%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product {
        background-color: rgba($tertiary, $alpha: .9);
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        padding: 1rem;
        margin: 1rem 0;
        min-width: 60%;
        max-width: 60%;
        position: relative;

        h3 {
            margin: 0;
            color: $fontSecondary;
            border-bottom: 1px solid $fontSecondary;
        }

        h4 {
            margin: 1.5rem 0 .25rem 0;
            color: $fontSecondary;
        }

        .productsAndServicesContent {
            background-color: rgba($fontSecondary, $alpha: 1);
            border-radius: .25rem;
            display: flex;
            flex-direction: column;


            .productsAndServicesLeftAndRight {
                display: flex;
                flex-direction: row;

                .productsAndServicesLeft {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    ul {
                        padding: 0 0 0 1rem;

                        li {
                            color: $fontPrimary;
                            margin: 0 1rem;
                            line-height: 1.5rem;
                        }
                    }
                }

                .productsAndServicesRight {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-height: 10rem;
                        width: 10rem;
                        border-radius: .25rem;
                        margin: 1rem;
                    }
                }
            }


            a {
                color: $fontPrimary;
                transition: .5s;
                margin: 0 0 1rem 1rem;

                &:hover,
                &:focus {
                    color: $quaternary;
                }
            }
        }




    }
}