@use "./variables" as *;

.productsAndServices {
    margin-top: 5rem;
    margin-bottom: 5rem;

    h2 {
        align-self: center;
        text-align: center;
        color: $fontSecondary;
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        padding: .5rem;
        min-width: 60%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product {
        background-color: rgba($tertiary, $alpha: .9);
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        padding: 1rem;
        margin: 1rem 0;
        min-width: 60%;
        max-width: 60%;
        position: relative;

        h3 {
            margin: 0;
            color: $fontSecondary;
        }

        h4 {
            margin: .25rem 0 0 0;
            color: $fontSecondary;
        }

        ul {
            width: 75%;
            padding: 0 0 0 1rem;
            
            li {
                color: $fontSecondary;

            }
        }
        a {
            color: $fontSecondary;
            transition: .5s;

            &:hover, &:focus {
                color: $quaternary;
            }
        }

        img {
            height: 5rem;
            width: 5rem;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(-5%, -50%);
        }
    }
}