@use "./variables" as *;

.regrindSection {
    padding: 1rem 0;

    .wrapper {
        background-color: rgba($fontSecondary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;

        h1 {
            margin: 0 auto;
        }

        h2 {
            margin: 2rem 0 1rem 0;
        }

        img {
            height: 5rem;
            width: 5rem;
            border-radius: .25rem;
        }

        p {
            margin: .5rem;
        }

        .regrindSectionHeader {
            display: flex;
            margin: 1rem 0;
            justify-content: space-between;
            align-items: center;
        }

        .regrindSectionContent {
            background-color: rgba($quaternary, $alpha: 0.5);
            border-radius: .25rem;
        }
    }
}