@use "./variables" as *;

.regrindSection {
    padding: 1rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .wrapper {
        background-color: rgba($fontPrimary, $alpha: .75);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;

        h1 {
            margin: 0;
            color: $fontSecondary;
            border-bottom: 1px solid $fontSecondary;
        }

        h2 {
            color: $fontSecondary;
            margin: 2rem 0 1rem 0;
        }

        img {
            height: 5rem;
            width: 5rem;
            border-radius: .25rem;
        }

        p {
            margin: 1rem;
            line-height: 1.5rem;
        }

        .regrindSectionHeader {
            display: flex;
            margin: .5rem 0;
            justify-content: space-between;
            align-items: center;
        }

        .regrindSectionContent {
            background-color: rgba($fontSecondary, $alpha: 1);
            border-radius: .25rem;
        }
    }
}