// Site Colors

$fontPrimary: #020202;
$fontSecondary: #FFFfff;

$primary: #020202;
$secondary: #ffffff;
$tertiary: #10277a;
$quaternary: #ff2e1d;
$quinary: #CCB278;
$senary: #E3B8AF;

// $senary: #16DB65;

// Font family

$roboto: 'Roboto', sans-serif;
$serif: 'Roboto Serif', serif;