// Site Colors

$fontPrimary: #020202;
$fontSecondary: #FFF8F0;

$primary: #020202;
$secondary: #0D2818;
$tertiary: #04471C;
$quaternary: #058C42;
$quinary: #16DB65;
$senary: #92140C;

// Font family

$roboto: 'Roboto', sans-serif;
$serif: 'Roboto Serif', serif;