// Site Colors

$fontPrimary: #020202;
$fontSecondary: #FFF8F0;

$primary: #020202;
$secondary: #384C1E;
$tertiary: #5E754D;
$quaternary: #9E9E96;
$quinary: #CCB278;
$senary: #E3B8AF;

// $senary: #16DB65;

// Font family

$roboto: 'Roboto', sans-serif;
$serif: 'Roboto Serif', serif;