html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background-image: url("/public/assets/grass.jpg");
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #020202;
}

h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #020202;
}

h3 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #020202;
}

h4 {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #020202;
}

p {
  font-size: 1rem;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: #020202;
  line-height: 1rem;
}

a {
  font-size: 1rem;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: #020202;
}

li {
  font-size: 1rem;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: #020202;
}

div {
  font-size: 1rem;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: #020202;
}

button {
  font-size: 1rem;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  color: #FFFfff;
  border: none;
  border-radius: 0.25rem;
  background-color: #ff2e1d;
  color: #FFFfff;
  padding: 0.5rem 1rem;
  transition: 0.5s;
}
button:hover, button:focus {
  background-color: #10277a;
  color: #FFFfff;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.fa-xmark {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  color: #fff;
  background: #10277a;
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
  z-index: 99;
}
.fa-xmark:hover, .fa-xmark:focus {
  background: #ff2e1d;
  transition: ease-in-out 0.3s;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.homePage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .homePageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #FFFfff;
  opacity: 0.75;
}
.homePage .homePageHeader img {
  border-radius: 0.25rem;
  opacity: 0.85;
  max-width: 75%;
  max-height: 75%;
}

nav {
  position: fixed;
  background-color: #FFFfff;
  opacity: 0.9;
  width: 100%;
  z-index: 10;
}
nav .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
}
nav .navBar .hamburger-menu {
  position: relative;
  display: none;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  opacity: 0.8;
}
nav .navBar .hamburger-menu .hamburger-checkbox {
  display: none;
}
nav .navBar .hamburger-menu .hamburger-checkbox:checked ~ .hamburger-label .hamburger-icon {
  background-color: transparent;
}
nav .navBar .hamburger-menu .hamburger-checkbox:checked ~ .hamburger-label .hamburger-icon::before {
  transform: translateY(0px) rotate(45deg);
}
nav .navBar .hamburger-menu .hamburger-checkbox:checked ~ .hamburger-label .hamburger-icon::after {
  transform: translateY(0px) rotate(-45deg);
}
nav .navBar .hamburger-menu .hamburger-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 28px;
  width: 28px;
  cursor: pointer;
  margin: 0.4rem 0 0 1rem;
}
nav .navBar .hamburger-menu .hamburger-label .hamburger-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 9999px;
}
nav .navBar .hamburger-menu .hamburger-label .hamburger-icon::before, nav .navBar .hamburger-menu .hamburger-label .hamburger-icon::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 9999px;
}
nav .navBar .hamburger-menu .hamburger-label .hamburger-icon::before {
  transform: translateY(-8px);
}
nav .navBar .hamburger-menu .hamburger-label .hamburger-icon::after {
  transform: translateY(8px);
}
nav .navBar .hamburger-menu .hamburger-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 200%;
  height: 100vh;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
nav .navBar .hamburger-menu .hamburger-content.open {
  opacity: 1;
  visibility: visible;
}
nav .navBar .hamburger-menu .hamburger-content ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s ease-in;
  padding: 0;
}
nav .navBar .hamburger-menu .hamburger-content ul li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 0 0 0 1rem;
}
nav .navBar .hamburger-menu .hamburger-content ul li:hover, nav .navBar .hamburger-menu .hamburger-content ul li:focus {
  border-radius: 1rem;
}
nav .navBar .hamburger-menu .hamburger-content ul li .fa-caret-down {
  padding: 0 0 0 11rem;
}
nav .navBar .hamburger-menu .hamburger-content ul li a {
  color: #020202;
  font-size: 1rem;
  padding: 1.6rem 0;
}
nav .navBar .hamburger-menu .hamburger-content ul li a:hover, nav .navBar .hamburger-menu .hamburger-content ul li a:focus {
  cursor: pointer;
}
nav .navBar .hamburger-menu .hamburger-content ul li svg {
  color: black;
}
nav .navBar .hamburger-menu .hamburger-content ul li:nth-of-type(1) {
  border-radius: 1rem;
}
nav .navBar .hamburger-menu .hamburger-content ul li:nth-of-type(6) {
  border-bottom: 1px solid white;
  width: 100%;
  padding: 0 0 1rem 2rem;
}
nav .navBar .hamburger-menu .hamburger-checkbox:checked ~ .hamburger-content {
  opacity: 1;
  visibility: visible;
}
nav .navBar .logo {
  padding: 0 0 0 1rem;
  height: 2.5rem;
  transform: translate(0%, 15%);
}
nav .navBar .navBarList {
  display: flex;
  justify-content: center;
}
nav .navBar .navBarList ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
nav .navBar .navBarList ul li {
  display: flex;
  list-style: none;
  padding-right: 10px;
  color: orange;
}
nav .navBar .navBarList ul li div {
  border-bottom: #ffffff 2px solid;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  color: #020202;
}
nav .navBar .navBarList ul li div:hover, nav .navBar .navBarList ul li div:focus {
  border-bottom: #10277a 2px solid;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown {
  position: absolute;
  flex-direction: column;
  top: 2rem;
  padding: 0 3rem;
  background-color: #10277a;
  border-radius: 0.25rem;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: #10277a;
  z-index: 10;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown::after {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: -50px;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 250ms ease-in-out;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease-in-out;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown li {
  padding: 0.5rem 0;
  background-color: #10277a;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown li a {
  color: #FFFfff;
  border-bottom: 2px solid #10277a;
  transition: 0.5s;
}
nav .navBar .navBarList ul li div .productsAndServicesDropdown li a:hover, nav .navBar .navBarList ul li div .productsAndServicesDropdown li a:focus {
  border-bottom: #ff2e1d 2px solid;
  opacity: 1;
}
nav .navBar .navBarList ul li a {
  text-decoration: none;
  border-bottom: #ffffff 2px solid;
  color: #020202;
  transition: 0.5s;
}
nav .navBar .navBarList ul li a:hover, nav .navBar .navBarList ul li a:focus {
  color: #020202;
  border-bottom: #10277a 2px solid;
}
nav .navBar .languageMenu {
  padding: 0 1rem 0 0;
}
nav .navBar .languageMenu select {
  border: none;
  border-radius: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #FFFfff;
  background-color: #10277a;
  margin: 0;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.drumsSection {
  padding: 1rem 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.drumsSection .wrapper {
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.drumsSection .wrapper h1 {
  margin: 0;
  color: #FFFfff;
  border-bottom: 1px solid #FFFfff;
}
.drumsSection .wrapper h2 {
  margin: 2rem 0 0 0;
  color: #FFFfff;
}
.drumsSection .wrapper p {
  color: #020202;
  margin: 1rem;
  line-height: 1.5rem;
}
.drumsSection .wrapper .drumsSectionHeader {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}
.drumsSection .wrapper .drumsSectionContent {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.drumsSection .wrapper .drumsSectionContent .drumsSectionTop {
  display: flex;
  flex-direction: row-reverse;
}
.drumsSection .wrapper .drumsSectionContent .drumsSectionTop .drumsSectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.drumsSection .wrapper .drumsSectionContent .drumsSectionTop .drumsSectionRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.drumsSection .wrapper .drumsSectionContent .drumsSectionTop .drumsSectionRight img {
  max-height: 15rem;
  width: 15rem;
  border-radius: 0.25rem;
  margin: 1rem;
}
.drumsSection .wrapper .drumsSectionContent .drumsSectionBottom p i {
  font-size: 0.75rem;
}
.drumsSection .wrapper .drumSectionButtons {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.drumsSection .wrapper .drumSectionButtons button {
  width: 47.5%;
  font-size: 0.75rem;
  cursor: pointer;
}

.ibcsSection {
  padding: 1rem 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.ibcsSection .wrapper {
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.ibcsSection .wrapper h1 {
  margin: 0;
  color: #FFFfff;
  border-bottom: 1px solid #FFFfff;
}
.ibcsSection .wrapper h2 {
  color: #FFFfff;
  margin: 2rem 0 0 0;
}
.ibcsSection .wrapper p {
  margin: 1rem;
  line-height: 1.5rem;
}
.ibcsSection .wrapper .ibcsSectionHeader {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}
.ibcsSection .wrapper .ibcsSectionContent {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentTop {
  display: flex;
}
.ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentBottom {
  display: flex;
  flex-direction: row-reverse;
}
.ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentBottom .ibcsSectionContentLeft {
  display: flex;
  flex-direction: column;
}
.ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentBottom .ibcsSectionContentRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentBottom .ibcsSectionContentRight img {
  width: 100%;
  border-radius: 0.25rem;
  margin: 1rem;
}

.regrindSection {
  padding: 1rem 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.regrindSection .wrapper {
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.regrindSection .wrapper h1 {
  margin: 0;
  color: #FFFfff;
  border-bottom: 1px solid #FFFfff;
}
.regrindSection .wrapper h2 {
  color: #FFFfff;
  margin: 2rem 0 0 0;
}
.regrindSection .wrapper p {
  margin: 1rem;
  line-height: 1.5rem;
}
.regrindSection .wrapper .regrindSectionHeader {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}
.regrindSection .wrapper .regrindSectionContent {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row-reverse;
}
.regrindSection .wrapper .regrindSectionContent .regrindSectionContentLeft {
  display: flex;
  flex-direction: column;
}
.regrindSection .wrapper .regrindSectionContent .regrindSectionContentRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.regrindSection .wrapper .regrindSectionContent .regrindSectionContentRight img {
  width: 100%;
  border-radius: 0.25rem;
  margin: 1rem;
}

.aboutSection {
  padding: 1rem 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.aboutSection .aboutPageHeader h1 {
  margin: 0;
  color: #FFFfff;
  border-bottom: 1px solid #FFFfff;
}
.aboutSection .aboutPageHeader h2 {
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
  color: #FFFfff;
}
.aboutSection .aboutPageHeader h3 {
  font-size: 1rem;
  color: #FFFfff;
}
.aboutSection .aboutPageHeader .aboutContainer {
  display: flex;
  align-content: center;
}
.aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer {
  display: flex;
  align-items: flex-start;
  width: 400px;
  max-width: 400px;
}
.aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer img {
  width: 100%;
  border-radius: 0.25rem;
  margin: 1rem 1rem 1rem 0;
}
.aboutSection .aboutPageHeader .aboutContainer .aboutContent {
  display: flex;
  width: 715px;
  max-width: 715px;
  min-height: 300px;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
  transition: 250ms ease-in-out;
}
.aboutSection .aboutPageHeader .aboutContainer .aboutContent p {
  font-size: 0.75rem;
}
.aboutSection .wrapper {
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.aboutSection .accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.aboutSection .accordion:hover h3, .aboutSection .accordion:focus h3 {
  color: #FFFfff;
  border-bottom: 2px solid #CCB278;
}
.aboutSection .accordion:hover svg, .aboutSection .accordion:focus svg {
  fill: #CCB278;
}
.aboutSection .accordion h3 {
  margin: 0;
  transition: 0.5s;
  border-bottom: 2px solid rgba(16, 39, 122, 0);
}
.aboutSection .accordion button {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutSection .accordion button svg {
  cursor: pointer;
  fill: #FFFfff;
  height: 1rem;
  transition: 0.5s;
}
.aboutSection .accordionContent.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 250ms ease-in-out;
}
.aboutSection .accordionContent.inactive {
  opacity: 0;
  visibility: collapse;
  transform: translateX(-50px);
  transition: 250ms ease-in-out;
}
.aboutSection p {
  background-color: white;
  color: #020202;
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.productsAndServices {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.productsAndServices h2 {
  align-self: center;
  text-align: center;
  color: #FFFfff;
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-width: 60%;
}
.productsAndServices .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productsAndServices .product {
  background-color: rgba(16, 39, 122, 0.9);
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem 0;
  min-width: 60%;
  max-width: 60%;
  position: relative;
}
.productsAndServices .product h3 {
  margin: 0;
  color: #FFFfff;
  border-bottom: 1px solid #FFFfff;
}
.productsAndServices .product h4 {
  margin: 1.5rem 0 0.25rem 0;
  color: #FFFfff;
}
.productsAndServices .product .productsAndServicesContent {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.productsAndServices .product .productsAndServicesContent .productsAndServicesLeftAndRight {
  display: flex;
  flex-direction: row;
}
.productsAndServices .product .productsAndServicesContent .productsAndServicesLeftAndRight .productsAndServicesLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productsAndServices .product .productsAndServicesContent .productsAndServicesLeftAndRight .productsAndServicesLeft ul {
  padding: 0 0 0 1rem;
}
.productsAndServices .product .productsAndServicesContent .productsAndServicesLeftAndRight .productsAndServicesLeft ul li {
  color: #020202;
  margin: 0 1rem;
  line-height: 1.5rem;
}
.productsAndServices .product .productsAndServicesContent .productsAndServicesLeftAndRight .productsAndServicesRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsAndServices .product .productsAndServicesContent .productsAndServicesLeftAndRight .productsAndServicesRight img {
  max-height: 10rem;
  width: 10rem;
  border-radius: 0.25rem;
  margin: 1rem;
}
.productsAndServices .product .productsAndServicesContent a {
  color: #020202;
  transition: 0.5s;
  margin: 0 0 1rem 1rem;
}
.productsAndServices .product .productsAndServicesContent a:hover, .productsAndServices .product .productsAndServicesContent a:focus {
  color: #ff2e1d;
}

.contactSection {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.contactSection .wrapper {
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.contactSection .wrapper .contactContent {
  display: flex;
  justify-content: space-between;
}
.contactSection .wrapper .contactContent .contactHeader {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.contactSection .wrapper .contactContent .contactHeader h2 {
  margin: 2rem 0 1rem 0;
  color: #FFFfff;
}
.contactSection .wrapper .contactContent .contactHeader p {
  color: #FFFfff;
}
.contactSection .wrapper .contactContent form {
  display: flex;
  flex-direction: column;
  width: 62.5%;
  color: #FFFfff;
}
.contactSection .wrapper .contactContent form input {
  margin: 0.5rem 0;
  padding: 0.25rem;
}
.contactSection .wrapper .contactContent form textarea {
  margin: 0.5rem 0;
  min-height: 5rem;
  width: 100%;
  padding: 0.25rem;
}

.preparingContainersModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.preparingContainersModal .preparingContainersContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-width: 600px;
  min-width: 30%;
  height: 40%;
  max-height: 40%;
  margin: 5rem auto;
  padding: 1rem 0.5rem 0;
  border-radius: 0.25rem;
  position: relative;
}
.preparingContainersModal .preparingContainersContent h3 {
  margin: 0 0 1rem 0;
}
.preparingContainersModal .preparingContainersContent h4 {
  font-size: 1rem;
  margin: 0;
}
.preparingContainersModal .preparingContainersContent ul {
  margin: 0 1rem;
  padding: 0 0 1rem 0;
  flex-direction: column;
  align-items: flex-start;
}
.preparingContainersModal .preparingContainersContent ul li {
  list-style-type: lower-roman;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
}
.preparingContainersModal .preparingContainersContent ul li p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
}

.policyModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.policyModal .policyModalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  max-width: 60%;
  height: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  border-radius: 0.25rem;
  max-width: 600px;
}
.policyModal .policyModalContent .policyModalContentStyling {
  position: absolute;
  line-height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 100%;
}
.policyModal .policyModalContent .policyModalContentStyling h3 {
  margin: 0;
}
.policyModal .policyModalContent .policyModalContentStyling h4 {
  margin: 0;
}
.policyModal .policyModalContent .policyModalContentStyling ul {
  margin: 0 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.policyModal .policyModalContent .policyModalContentStyling ul li {
  list-style-type: lower-roman;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
}
.policyModal .policyModalContent .policyModalContentStyling ul li p {
  font-size: 0.75rem;
}

footer {
  background-color: #ffffff;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
}
footer .footerContent {
  display: flex;
  justify-content: space-between;
}
footer .footerContent .footerAddress {
  display: flex;
  flex-direction: column;
}
footer .footerContent .footerAddress h3 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: #020202;
}
footer .footerContent .footerAddress ul {
  padding: 0;
  margin: 0;
}
footer .footerContent .footerAddress ul li {
  color: #020202;
  list-style: none;
  padding: 0 0 1rem 0;
}
footer .footerContent .footerAddress ul li span {
  font-size: 0.8rem;
}
footer .footerContent .footerAddress ul li p {
  color: #020202;
  font-size: 0.75rem;
  margin: 0;
  padding: 0 0 0.25rem 0;
}
footer .footerContent .footerLinks {
  display: flex;
  flex-direction: column;
  text-align: end;
}
footer .footerContent .footerLinks h3 {
  color: #020202;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
footer .footerContent .footerLinks ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}
footer .footerContent .footerLinks ul li {
  list-style: none;
  padding: 0 0 0.25rem 0;
}
footer .footerContent .footerLinks ul li a {
  color: #020202;
  text-decoration: none;
  font-size: 0.75rem;
  transition: 0.5s;
}
footer .footerContent .footerLinks ul li a:hover, footer .footerContent .footerLinks ul li a:focus {
  color: #ff2e1d;
}
footer .footerMiddle {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footerMiddle img {
  height: 3rem;
}
footer .footerMiddle ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}
footer .footerMiddle ul li {
  list-style: none;
}
footer .footerMiddle ul li button {
  background-color: #FFFfff;
  color: #020202;
  text-decoration: none;
  font-size: 0.75rem;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 786px) {
  nav .navBar .hamburger-menu {
    display: flex;
  }
  nav .navBar .hamburger-menu .hamburger-label .hamburger-icon {
    background-color: #10277a;
  }
  nav .navBar .hamburger-menu .hamburger-label .hamburger-icon::after, nav .navBar .hamburger-menu .hamburger-label .hamburger-icon::before {
    background: #10277a;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  nav .navBar {
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  nav .navBar .navBarList {
    display: none;
  }
  nav .navBar .logo {
    height: 1rem;
    padding: 0;
  }
  nav .navBar .hamburger-menu .hamburger-label {
    margin: 0.4rem 0 0 0.4rem;
  }
  nav .navBar .hamburger-menu .hamburger-content {
    width: 200px;
  }
  nav .navBar .hamburger-menu .hamburger-content ul {
    justify-content: center;
  }
  nav .navBar .hamburger-menu .hamburger-content ul li:first-child {
    margin: 4rem 0 0 0;
  }
  nav .navBar .hamburger-menu .hamburger-content ul li a {
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  nav .navBar .languageMenu {
    margin: 0 1rem 0 0;
  }
  nav .navBar .languageMenu select {
    font-size: 0.6rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  nav .navBar {
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
  nav .navBar .hamburger-menu .hamburger-label {
    margin: 0.4rem 0 0 0.4rem;
  }
  nav .navBar .hamburger-menu .hamburger-content {
    width: 200%;
  }
  nav .navBar .hamburger-menu .hamburger-content ul {
    justify-content: center;
  }
  nav .navBar .hamburger-menu .hamburger-content ul li:first-child {
    margin: 4rem 0 0 0;
  }
  nav .navBar .hamburger-menu .hamburger-content ul li a {
    padding: 0.6rem;
  }
  nav .navBar .logo {
    margin: 0 auto;
    height: 2rem;
    padding: 0 1rem 0 0;
  }
  nav .navBar .navBarList {
    display: none;
  }
  nav .navBar .languageMenu {
    right: -1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  nav .navBar .languageMenu select {
    font-size: 0.9rem;
  }
  nav .navBar .logo {
    height: 2.2rem;
  }
  nav .navBar .navBarList ul li div,
  nav .navBar .navBarList ul li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 900px) {
  .homePage .wrapper {
    margin: 0 auto;
  }
  .homePage .homePageHeader img {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .homePage .wrapper {
    margin: 0 auto;
  }
  .homePage .homePageHeader img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer .footerContent {
    display: block;
  }
  footer .footerContent .footerAddress,
  footer .footerContent .footerLinks {
    text-align: center;
  }
  footer .footerContent .footerAddress ul li span {
    font-size: 0.8rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .footerMiddle img {
    height: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .drumsSection .wrapper {
    width: 100%;
  }
  .drumsSection .wrapper .drumsSectionContent .drumsSectionTop {
    flex-direction: column;
  }
  .drumsSection .wrapper h1 {
    font-size: 2rem;
  }
  .drumsSection .wrapper h2 {
    font-size: 1.8rem;
  }
  .drumsSection .wrapper .drumSectionButtons {
    flex-direction: column;
    gap: 1rem;
  }
  .drumsSection .wrapper .drumSectionButtons .policyButton,
  .drumsSection .wrapper .drumSectionButtons .preparationButton {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .drumsSection .wrapper .drumSectionButtons {
    flex-direction: column;
    gap: 1rem;
  }
  .drumsSection .wrapper .drumSectionButtons .policyButton,
  .drumsSection .wrapper .drumSectionButtons .preparationButton {
    width: 100%;
  }
  .drumsSection .wrapper .drumsSectionContent .drumsSectionTop {
    flex-direction: column;
  }
  .drumsSection .wrapper .drumsSectionContent .drumsSectionTop .drumsSectionRight img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .ibcsSection .wrapper {
    width: 100%;
  }
  .ibcsSection .wrapper p {
    font-size: 0.8rem;
  }
  .ibcsSection .wrapper .ibcsSectionContent {
    font-size: 1rem;
  }
  .ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentBottom {
    flex-direction: column;
  }
  .ibcsSection .wrapper h1 {
    font-size: 2rem;
  }
  .ibcsSection .wrapper h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .ibcsSection .wrapper {
    width: 100%;
  }
  .ibcsSection .wrapper p {
    font-size: 0.8rem;
  }
  .ibcsSection .wrapper .ibcsSectionContent {
    font-size: 1rem;
  }
  .ibcsSection .wrapper .ibcsSectionContent .ibcsSectionContentBottom {
    flex-direction: column;
  }
  .ibcsSection .wrapper h1 {
    font-size: 2rem;
  }
  .ibcsSection .wrapper h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .ibcsSection .wrapper {
    width: 100%;
  }
  .ibcsSection .wrapper p {
    font-size: 0.8rem;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .regrindSection .wrapper {
    width: 100%;
  }
  .regrindSection .wrapper p {
    font-size: 0.8rem;
  }
  .regrindSection .wrapper h1 {
    font-size: 2rem;
  }
  .regrindSection .wrapper h2 {
    font-size: 1.8rem;
  }
  .regrindSection .wrapper .regrindSectionContent {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .regrindSection .wrapper {
    width: 100%;
  }
  .regrindSection .wrapper p {
    font-size: 0.8rem;
  }
  .regrindSection .wrapper h1 {
    font-size: 2rem;
  }
  .regrindSection .wrapper h2 {
    font-size: 1.8rem;
  }
  .regrindSection .wrapper .regrindSectionContent {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .regrindSection .wrapper {
    width: 100%;
  }
  .regrindSection .wrapper p {
    font-size: 0.8rem;
  }
  .regrindSection .wrapper h1 {
    font-size: 2rem;
  }
  .regrindSection .wrapper h2 {
    font-size: 1.8rem;
  }
  .regrindSection .wrapper .regrindSectionContent {
    flex-direction: column;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .regrindSection .wrapper p {
    line-height: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .aboutSection .wrapper {
    width: 100%;
  }
  .aboutSection .aboutPageHeader .wrapper {
    width: 100%;
  }
  .aboutSection .aboutPageHeader .aboutContainer {
    flex-direction: column;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutContent {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer {
    width: 100%;
    max-width: none;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer img {
    margin: 1rem 0 0 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .aboutSection .wrapper {
    width: 100%;
  }
  .aboutSection .aboutPageHeader .wrapper {
    width: 100%;
  }
  .aboutSection .aboutPageHeader .aboutContainer {
    flex-direction: column;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutContent {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer {
    width: 100%;
    max-width: none;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer img {
    margin: 1rem 0 0 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .aboutSection .wrapper {
    width: 100%;
  }
  .aboutSection .aboutPageHeader .wrapper {
    width: 100%;
  }
  .aboutSection .aboutPageHeader .aboutContainer {
    flex-direction: column;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutContent {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer {
    width: 100%;
    max-width: none;
  }
  .aboutSection .aboutPageHeader .aboutContainer .aboutImageContainer img {
    margin: 1rem 0 0 0;
  }
}/*# sourceMappingURL=styles.css.map */