@import "./partials/setup";
@import "./partials/variables";
@import "./partials/baseStyles";
@import "./partials/app";
@import "./partials/homePage";
@import "./partials/navBar";
@import "./partials/hamburgerMenu";
@import "./partials/drums";
@import "./partials/ibcs";
@import "./partials/regrind";
@import "./partials/about";
@import "./partials/productsAndServices";
@import "./partials/contact";
@import "./partials/preparingContainers";
@import "./partials/drumAcceptancePolicy";
@import "./partials/footer";

@import "./partials/mediaQueries/hamburgerQuery";
@import "./partials/mediaQueries/navBarList";
@import "./partials/mediaQueries/homePageQueries";
@import "./partials/mediaQueries/footerQueries";
