@use "./partials/setup" as *;
@use "./partials/normalize" as *;
@use "./partials/variables" as *;
@use "./partials/baseStyles" as *;
@use "./partials/app" as *;
@use "./partials/navBar" as *;
@use "./partials/hamburgerMenu" as *;
@use "./partials/homePage" as *;
@use "./partials/mediaQueries/hamburgerQuery" as *;